@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.category-card {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 6;
    overflow: hidden;
    cursor: pointer;
    transform: scale(0.93); /* Escala inicial para la animación */
    transition: transform 0.2s;
}

.category-card.visible {
    animation: fadeInScale 0.6s ease-out forwards;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo inicial más claro */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 1; /* Texto siempre visible */
    transition: background-color 0.3s ease;
}

.category-card:hover .category-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro en hover */
}
